.firstPage{
    background: rgb(255, 255, 255);
    padding: 32px 0px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header{
    width: 100%;
    height: 40px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.invite{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: rgb(238, 240, 242);
    padding: 40px 24px 40px 24px;
}
.invite-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.invite-wrapper h1{
    max-width: 640px;
    height: 34px;
    padding: 0px 140px 0px 5px;
    color: rgb(37, 35, 35);
    font-size: 26px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px;
}

.invite-wrapper p {
    margin: 24px 0px;
    padding: 0px 140px 0px 5px;
    color: rgb(75, 75, 75);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}
#first{
    max-width: 640px;
    height: 72px;
}

.invite-wrapper img{
    width: 640px;
    height: 293px;
    border-radius: 8px;
}
#second{
    max-width: 640px;
    height: 21px;
    font-size: 14px;
}

.products{
    max-width: 100%;
    padding: 32px 24px 40px 32px;   
}

.products-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.products-wrapper h2{
    height: 34px;
    max-width: 700px;
    margin-bottom: 32px;
    color: rgb(37, 35, 35);
    font-size: 26px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.item-wrapper{
    max-width: 640px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex-wrap: wrap;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box{
    width: 314px;
    height: 159px;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid rgb(216, 216, 216);
}
.box.first{
    background: rgb(255, 200, 0);
}

.box.second{
    background: rgb(46, 104, 192);
}
.box.third{
    background: rgb(234, 21, 66);
}
.box.forth{
    background: rgb(29, 78, 216);
}

.info{
    width: 314px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0px 0px 8px 8px;
}

.info h3{
    height: 23px;
    margin-bottom: 8px;
    color: rgb(37, 35, 35);
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.info >p{
    height: 72px;
    margin-bottom: 13px;
    color: rgb(75, 75, 75);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    overflow: hidden;
}

.readMore{
    width: 94px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    padding: 8px 0px 8px 0px;

    color: rgb(51, 102, 255);
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
}

.readMore >p{
    width: 72px;
    height: 17px;
}
.readMore >svg{
    width: 14px;
    height: 14px;
    margin: 1.5px 0px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footer-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;   
}
.wrapper{
    max-width: 640px;
    height: 132px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    padding: 0px 24px;
}
.media{
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.footer-text >p{
    padding: 0px 100px 0px 20px;
    color: rgb(75, 75, 75);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}

.services{
    max-width: 640px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    color: rgb(51, 102, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
}
@media screen and (max-width: 700px) and (min-width: 480px){
    .firstPage{
        padding: 24px 0px;
    }
    header{
        margin-bottom: 24px;
    }
    .invite{
        padding: 24px;
    }
    .invite-wrapper h1{
        padding: 0px;
    }
    #first{
        padding: 0px;
        font-size: 14px; 
    }
    .invite-wrapper img{
        width: 90%;
        height: 90%;
    }
    #second{
        padding: 0px;
    }
    .footer-text >p{
        padding: 0px;
    }
}

@media screen and (max-width: 480px) {
    .firstPage{
        padding: 24px 0px;
    }
    header{
        margin-bottom: 24px;
    }
    .invite{
        padding: 24px;
    }
    .invite-wrapper h1{
        width: 272px;
        height: 58px;
        font-size: 22px;
        padding: 0px;
    }
    #first{
        padding: 0px;
        width: 272px;
        height: 126px;
        font-size: 14px;
    }
    .invite-wrapper img{
        width: 272px;
        height: 206px;
    }
    #second{
        padding: 0px;
        width: 272px;
        height: 42px;
    }
    .products{
        padding: 24px;
    }
    .products-wrapper h2{
        width: 272px;
        height: 29px;
        margin-bottom: 16px;
        font-size: 22px;
    }
    .item-wrapper{
        gap: 16px;
    }
    .box{
       width: 271px; 
    }
    .info{
        width: 271px;
    }
    .footer-wrapper{
        gap: 24px;
    }
    .wrapper{
        width: 320px;
        height: 216px;
    }
    .media{
        gap: 40px;
    }
    .footer-text >p{
        padding: 0px;
    }
    .services{
        font-size: 11px;
    }
}